body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-family:'Times New Roman',Times, serif;font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

/* My Css*/
.post-abstract {
    line-height:50%;
    font-size: 0.6em;
    color: #888888;
}

.tag {
    border-radius: 15px; 
    border: 2px solid #888888;
    margin: 0px 10px 0px 0px;
    padding: 5px; 
    width: auto; 
    height: 80px; 
}

.subheading{
    font-size: 1.5em;
    font-style: italic;
}

code {
    background-color: #dcdcdc;
    font-family: 'Courier New ', 'Lucida Console', 'Monospace';
}

.highlight {
    border-radius: 15px;
    background-color: #dcdcdc;
    margin: 10px;
    padding: 5px; 
    width: 75%; 
    height: auto;
}

/* For Latin */

.praesens{
    width: 100%;
    background-color: #e0e0e0;
}

.imperf{
    width: 100%;
    background-color: #99ccff;
}

.futurum{
    width: 100%;
    background-color: #ff6633;
}
