<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico">
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
      <div class="copyrightlines" style="text-align: center;">©GreatBaron,2019,All Rights Reserved.</div><br/>
   <ul>
   <li><a href=#><img src="{{ site.url }}/img/minicon-email_16px.png">email</a></li>
   <li><a href="https://github.com/AndrewImalion"><img src="{{ site.url }}/img/minicon-GitHub_16px.png">GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>
