<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico">
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/tags">Tags</a></li>
<li><a href="{{ site.url }}/tools">Tools</a></li>
  <!-- 不知道为啥这里不加site.url它就不给我append https: --!>
</ul>
    </nav>
    
    <h1 class="topheading">{{ page.title }}</h1>
    <h2 class="subheading">{{ page.subtitle }}</h2>
    <h2 class="desheading">{{ page.description }}</h2>
    <hr>
    
<div class="container">

  {{ content }}

</div>
  
  <footer>
      <div class="copyrightlines" style="text-align: center;color:slategrey;font-family:'Times New Roman', Times, serif;margin:100px 0px 0px 0px;">©GreatBaron,2019,All Rights Reserved.</div><br/>
   <ul style="text-align: center;">
   <li><a href=#><img src="{{ site.url }}/img/minicon-email_16px.png">email</a></li>
   <li><a href="https://github.com/AndrewImalion"><img src="{{ site.url }}/img/minicon-GitHub_16px.png">GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>
