---
layout: default
---


<div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/tags#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>

                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}

                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by <i>{% if page.author %}{{ page.author }}{% else %}GreatBaron{% endif %}</i> on {{ page.date | date_to_string }}</span>
                    <hr>
                </div>

<div class="post">
  {{ content }}
</div>
